.alert {
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
  position: fixed;
  left: 1em; 
  top: 1em; 
  color: white;
  z-index: 1000; 
  opacity: 0; 
  transform: translateX(-100%); 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.alert-success {
  background-color: #155724;
}

.alert-error {
  background-color: #721c24;
}

.alert.show {
  opacity: 1;
  transform: translateX(0);
}


.alert.hide {
  opacity: 0;
  transform: translateX(-100%); 
}


