@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');

body{
  box-sizing: border-box;
  padding: 0;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h1 {
  margin-bottom: 30px; 
  font-size: 2.5em; 
  font-weight: 700; 
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.2em !important;  
}

button{
  cursor: pointer;
}

.container-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.container-principal > .box-principal > h1{
  font-size: 2.2rem;
}

.container-principal > .box-principal > .menu{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
}

.container-principal > .box-principal > .menu > .card{
  color: white;
  border-radius: 10px;
  background-color: #1b1b1bb2;
  box-shadow: #0f0f0f 5px 5px 50px 5px;
  font-size: 1.2rem;
  padding: 1rem;
}

.container-principal > .box-principal{
  padding: 0 0 0 5rem;
}

.total-entradas, .total-saidas, .total-investimentos, .total-pagos{
  border-radius: 2rem;
  padding: 70px;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}

.valor{
  font-weight: 500;
  margin-left: 10px;
  }


.total-entradas{
  background: linear-gradient(#00ad3a, #054909);
}

.total-saidas{
  background: linear-gradient(#e0420d, #b41f05);
}

.total-investimentos{
  background: linear-gradient( #1c3bd6,#051b8a);
}

.total-pagos{
  background: linear-gradient( #1530b6,#480abd);
}

@media (max-width: 768px) { 
  .container-principal > .box-principal > h1 {
    font-size: 1.2rem;
  }
  .card {
    font-size: 1.2rem;
  }
}


/* Estiliza as paginas*/

.container-entradas, .container-todos, .container-saidas, .container-investimentos, .container-pagos{
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
}

.box{
  width: 70%;
}

/* Estiliza o componente header */
.header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem 0 1rem 0;
}

.header .profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #131213;
  padding: 0.7rem;
  border-radius: 2rem;
}

.header .profile-container-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: #131213;
  padding: 0.7rem;
  border-radius: 2rem;
}

.header i {
  font-size: 24px; 
  color: white;
}

.header .profile-name {
  margin-left: 10px;
  color: white;
}

.header > .menu{
  text-decoration: none;
  background-color: #131213;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 1.5rem;
  display: flex;
}

.header > .menu > span{
  margin-left: 0.5rem;
}

.profile-menu {
  position: absolute;
  right: 10px;
  top: 16%; 
  background: rgba(48, 48, 48, 0.4); 
  padding: 10px;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px; 
}
.logout-button {
  background-color: #2b055c;
  color: white; 
  border: none;
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.logout-button:hover {
  background-color: #555; 
}

.pesquisa{
  margin: 1rem 0 1rem 0;
}

.pesquisa > input{
  background-color: #2b2b2b6c;
  outline: none;
  border: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 2rem;
  padding-left: 5px;
  font-size: 15px;
  color: white;
}

/* Estiliza o componente buttons */
.container-buttons > button{
  margin-right: 10px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 10px;
  font-size: 20px;
}
/* Estiliza pagina de login */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; 
  color: white;
}

.container-login h1 {
  margin-bottom: 30px; 
  font-size: 2.5em; 
  font-weight: 700; 
  background: linear-gradient(135deg, rgb(201, 64, 187), rgb(220, 40, 255), rgb(150, 0, 210));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 70vh;
  background: rgba(89, 89, 89, 0.15);
  border-radius: 15px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  justify-content: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
  clip-path: polygon(20% 0, 80% 0, 100% 20%, 120% 90%, 110% 110%, 0% 100%, 0 80%, 0 20%);
}

form::before, form::after {
  content: '';
  position: absolute;
  background: linear-gradient(135deg, rgb(201, 64, 187), rgb(220, 40, 255), rgb(150, 0, 210));
  z-index: -1; 
}

form::before {
  top: 0;
  left: 0;
  right: 0;
  height: 5%; 
  background: linear-gradient(135deg, rgb(201, 64, 187), rgb(220, 40, 255), rgb(150, 0, 210));
}


.container-login .label label {
  font-size: 1em; 
  font-weight: bold; 
  color: #ffffff;
  transition: color 0.3s; 
}

.container-login .label {
  width: 100%;
  margin-left: 65px;
  margin-top: 25px;
}

.container-login input[type='text'], 
.container-login input[type='password'], 
.container-login input[type='submit'] {
  width: 100%; 
  max-width: 400px; 
  height: 45px; 
  border-radius: 2rem;
  outline: none;
  border: none;
  padding: 0 15px;
  color: white;
  font-size: 16px;
  margin-top: 1rem;
  box-sizing: border-box; 
}

.container-login input[type='text']{
  background-color: #2d2c2c85 !important; 
}
.container-login input[type='password'] {
  background-color: #2d2c2c85 !important; 
}

.container-login input[type='submit'] {
  margin: 2rem;
  background: linear-gradient(135deg, rgb(201, 64, 187), rgb(220, 40, 255), rgb(150, 0, 210));
  cursor: pointer; 
  transition: background-color 0.5s, box-shadow 5s; 
}

.container-login input[type='submit']:hover {
  background: rgb(150, 0, 210);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


.app-layout {
  display: flex;
}

.sidebar {
  width: 50px;
  background-color: #1e1e1f5d;
}

.main-content {
  flex: 1;
}

.green{
  color: #00ad3a;
}

.red{
  color: rgb(241, 53, 53);
}

.blue{
  color: #627af3;
}

.card-body > .title{
  display: flex;
  align-items: center;
}